.contacts a {
  display: block;
  padding-bottom: 10px;
  color: $default-white;
  opacity: 30%;

  &:hover {
    opacity: 1;
  }
}

.contacts li {
  &:first-child {
    @include vp-767 {
      margin-bottom: 10px;
    }
  }
}
