.feature {
  box-sizing: border-box;
  border: 1px solid $basic-grey;
  border-left: 5px solid $light-blue;
  padding: 40px;
  color: $light-blue;
  min-height: 300px;

  @include vp-1023 {
    padding-bottom: 30px;
    min-height: 360px;
  }

  @include vp-767 {
    min-height: 340px;
    padding: 30px;
    padding-left: 25px;
    padding-bottom: 35px;

    &:nth-child(n+3) {
      min-height: 325px;
    }
  }

  &:hover,
  &:active {
    background-color: $light-blue;
    border: 1px solid $light-blue;
    border-left: 5px solid $light-blue;
    color: $basic-white;
  }
}

.feature h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;

  @include vp-1023 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @include vp-767 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 28px;
  }
}

.feature p {
  margin: 0;
  color: $basic-black;

  @include vp-767 {
    min-width: 140px;
  }
}

.feature:hover p,
.feature:active p {
  color: $basic-white;
}

.feature svg {
  @include vp-767 {
    width: 30px;
    height: 30px;
  }
}
