.footer-nav ul {
  column-count: 2;
  // column-fill: auto;

  @include vp-1023 {
    column-count: 1;
  }
}

.footer-nav li {
  max-width: 235px;
  margin-bottom: 10px;

  &:last-child {
    padding-bottom: 29px;

    @include vp-1023 {
      padding-bottom: 0;
    }
  }

  @include vp-1023 {
    margin-bottom: 9px;
  }
}

.footer-nav a {
  display: inline;
  color: $default-white;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
