.goods {
  background-color: $dark-blue;
  color: $default-white;
  padding-top: 70px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 85px;
  }
}

.goods h2 {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 50px;

  @include vp-1023 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    padding-right: 20px;
    margin-bottom: 29px;
  }
}

.goods__heading-text {
  @include vp-767 {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}

.goods ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  column-gap: 85px;
  row-gap: 10px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: auto;
    gap: 30px;
    padding-top: 0;
  }
}

.goods li {
  max-width: 350px;

  // &:nth-child(3n) {
  //   margin-right: 0;
  // }
  // &:nth-child(n + 4) {
  //   margin-top: 10px;
  // }

  @include vp-1023 {
    margin: 0;
    max-width: none;
  }
}

.goods a {
  color: inherit;
}
