.modal {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.modal__overlay {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: $overlay-color;
}

.modal__content {
  position: relative;
  width: 500px;
  top: 146px;
  left: 50%;
  transform: translateX(-258px);
  padding: 40px;
  background-color: $light-blue;
}

.modal__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $transparent;
  border: none;
  padding: 10px;

  &:hover {
    background-color: $bg-blue;
  }
}
