.page-header {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  color: $basic-white;
  z-index: 10;
}

.page-header__container {
  display: flex;
  align-items: flex-start;
}

.page-header__logo {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 35px;

  @include vp-1023 {
    padding-top: 20px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.page-header__logo-pic {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.page-header__logo-text {
  margin-left: 15px;

  @include vp-767 {
    display: none;
  }
}

.page-header__contacts {
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;

  @include vp-1023 {
    margin-top: 20px;
    justify-content: end;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-top: 10px;
    margin-right: 10px;
  }
}

.page-header__link {
  display: flex;
  line-height: 20px;
  padding: 10px;
  color: inherit;
  text-decoration: none;

  @include vp-1023 {
    margin-left: 20px;
  }
}

.page-header__link span {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.page-header__button {
  flex-shrink: 0;
  justify-self: flex-end;
  background-color: $transparent;
  color: inherit;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 35px;
  margin-right: 60px;
  border: 1px solid $basic-white;
  border-radius: 3px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $light-blue;
  }

  @include vp-1023 {
    display: none;
  }
}
