.product {
  position: relative;
  width: 100%;
  height: 100%;
}

.product a {
  display: block;
  width: 100%;
  height: 100%;
}

.product img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1023 {
    object-fit: none;
  }
}

.product__bg {
  &--1 {
    object-position: 15%;

    @include vp-1023 {
      object-position: 35% 95%;
    }

    @include vp-767 {
      object-position: 30% 55%;
    }
  }

  &--2 {
    object-position: 48%;

    @include vp-1023 {
      object-position: 73% 10%;
    }

    @include vp-767 {
      object-position: 35% 95%;
    }
  }

  &--3 {
    object-position: 79%;

    @include vp-1023 {
      object-position: 20% 65%;
    }

    @include vp-767 {
      object-position: 70% 70%;
    }
  }
}

.product h3 {
  max-width: 170px;
  margin: 0 40px;
  padding-top: 50px;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @include vp-1023 {
    max-width: 150px;
    padding-top: 35px;
    margin: 0 45px;
  }

  @include vp-767 {
    max-width: 130px;
    padding-top: 26px;
    margin: 0 30px;
    font-size: 18px;
  }
}

.product__button {
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  right: 1px;
  bottom: 0;

  @include vp-1023 {
    right: 0;
  }
}

.product svg {
  display: block;

  @include vp-767 {
    width: 40px;
    height: 40px;
  }
}
