.promo {
  position: relative;
  min-height: 880px;

  @include vp-1023 {
    min-height: 640px;
  }

  @include vp-767 {
    min-height: 560px;
  }
}

.promo__bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #203644;
}

.promo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1023 {
    object-position: 20%;
  }

  @include vp-767 {
    object-position: 25%;
  }
}

.promo__bg-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
}

.promo__content {
  padding-top: 250px;
  padding-left: 165px;
  color: $basic-white;

  @include vp-1023 {
    padding-top: 135px;
  }

  @include vp-767 {
    padding-top: 125px;
  }
}

.promo h1 {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: 32px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 7px;
  }
}

.promo p {
  font-size: 22px;
  line-height: 35px;
  max-width: 670px;
  margin-top: 0;
  margin-bottom: 45px;

  @include vp-1023 {
    margin-bottom: 55px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 44px;
  }
}

.promo a {
  display: block;
  width: max-content;
  padding: 15px 27px;
  background-color: $light-blue;
  color: $basic-white;
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
    margin-left: 0;
    width: 100%;
    text-align: center;
    padding: 12px 27px;
  }
}

.promo__button-text--desktop {
  @include vp-767 {
    display: none;
  }
}

.promo__button-text--mobile {
  @include vp-767 {
    display: inline;
  }
}
