.social ul {
  display: flex;
  padding-left: 10px;

  @include vp-1023 {
    justify-content: flex-end;
  }

  @include vp-767 {
    justify-content: center;
    padding-left: 0;
  }
}

.social li {
  display: flex;
  align-items: flex-start;
  margin-right: 15px;

  @include vp-1023 {
    &:last-child {
      margin-right: -5px;
    }
  }
}

.social a {
  padding: 5px;
  color: $basic-white;

  &:hover {
    color: $light-blue;
  }
}
